# Node modules
/node_modules/

# Distribution or build directories
/dist/
/build/

# Yarn, PnP and SWC related files
.pnp/
.pnp.js
.swc/

# Log files
*.log
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE configuration files
/.vscode/
/.idea/

# System files
.DS_Store
Thumbs.db
.swp

# Cache and temporary files
/.turbo/
/.eslintcache/
/.vite/
/.parcel-cache/

# Lock files for different package managers (if using only npm, you can remove the others)
yarn.lock
pnpm-lock.yaml

# Jest or other test coverage reports
/coverage/
