---
import DashboardLayout from '@layouts/DashboardLayout.astro'

import DataTableCard from '@components/datatable/DataTableCard.astro'

import AddModal from '@components/modals/AddModal.astro'
import DetailsOffcanvas from '@components/modals/DetailsOffcanvas.astro'
import EditModal from '@components/modals/EditModal.astro'
---

<DashboardLayout
  title="Préstamos"
  currentPage="/loans"
  role="administrador"
  username="Jason"
  customScriptPath="/js/modules/loans/loans.js"
>
  <DataTableCard title="Lista de préstamos" icon="bi-file-earmark-text" columnCount={8}>
    <Fragment slot="thead">
      <th scope="col" class="text-start">Código</th>
      <th scope="col" class="text-start">Libro</th>
      <th scope="col" class="text-start">Estudiante</th>
      <th scope="col" class="text-center">Fecha préstamo</th>
      <th scope="col" class="text-center">Fecha devolución</th>
      <th scope="col" class="text-center">Cantidad</th>
      <th scope="col" class="text-center">Estado</th>
      <th scope="col" class="text-center"></th>
    </Fragment>
  </DataTableCard>

  <Fragment slot="modals">
    <AddModal title="Agregar un préstamo">
      <!-- Book and Student Section -->
      <div class="row">
        <!-- Book Field -->
        <div class="col-md-6 mb-3">
          <label for="addBook" class="form-label">Libro <span class="text-danger">*</span></label>
          <select
            class="selectpicker form-control placeholder-color"
            id="addBook"
            name="book"
            data-live-search="true"
            data-live-search-placeholder="Buscar..."
            title="Seleccione un libro"
            required></select>
          <div class="invalid-feedback"></div>
        </div>

        <!-- Student Field -->
        <div class="col-md-6 mb-3">
          <label for="addStudent" class="form-label"
            >Estudiante <span class="text-danger">*</span></label
          >
          <select
            class="selectpicker form-control placeholder-color"
            id="addStudent"
            name="student"
            data-live-search="true"
            data-live-search-placeholder="Buscar..."
            title="Seleccione un estudiante"
            required></select>
          <div class="invalid-feedback"></div>
        </div>
      </div>

      <!-- Dates Section -->
      <div class="row">
        <!-- Date Field -->
        <div class="col-md-6 mb-3">
          <label for="addLoanDate" class="form-label">Fecha de préstamo</label>
          <input type="date" class="form-control" id="addLoanDate" disabled />
        </div>

        <!-- Return Date Field -->
        <div class="col-md-6 mb-3">
          <label for="addReturnDate" class="form-label"
            >Fecha de devolución <span class="text-danger">*</span></label
          >
          <input type="date" class="form-control" id="addReturnDate" name="returnDate" required />
          <div class="invalid-feedback"></div>
        </div>
      </div>

      <!-- Quantity and Observation Section -->
      <div class="row">
        <!-- Quantity Field -->
        <div class="col-md-6 mb-3">
          <label for="addQuantity" class="form-label"
            >Cantidad <span class="text-danger">*</span></label
          >
          <input
            type="number"
            class="form-control"
            id="addQuantity"
            name="quantity"
            min="1"
            placeholder="Ingrese la cantidad"
            required
          />
          <div class="invalid-feedback"></div>
        </div>

        <!-- Observation Field -->
        <div class="col-md-6 mb-3">
          <label for="addObservation" class="form-label">Observación</label>
          <textarea
            class="form-control"
            id="addObservation"
            name="observation"
            rows="1"
            placeholder="Ingrese cualquier observación opcional"></textarea>
        </div>
      </div>
    </AddModal>

    <DetailsOffcanvas title="Detalles del préstamo">
      <!-- ID and Book Section -->
      <div class="row">
        <div class="col-md-6 mb-3">
          <h6 class="small text-muted">Código</h6>
          <div class="placeholder-glow">
            <p class="badge bg-body-tertiary text-body-emphasis border d-none" id="detailsID"></p>
            <span
              class="placeholder placeholder-sm col-6 rounded mb-3"
              data-placeholder-for="detailsID"
              style="height: 25px;"></span>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <h6 class="small text-muted">Libro</h6>
          <div class="placeholder-glow">
            <p class="fw-bold d-none" id="detailsBook"></p>
            <span
              class="placeholder placeholder-sm col-10 rounded mb-3"
              data-placeholder-for="detailsBook"
              style="height: 25px;"></span>
          </div>
        </div>
      </div>

      <!-- Student and Loan Date Section -->
      <div class="row">
        <div class="col-md-6 mb-3">
          <h6 class="small text-muted">Estudiante</h6>
          <div class="placeholder-glow">
            <p class="fw-bold d-none" id="detailsStudent"></p>
            <span
              class="placeholder placeholder-sm col-10 rounded mb-3"
              data-placeholder-for="detailsStudent"
              style="height: 25px;"></span>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <h6 class="small text-muted">Fecha de préstamo</h6>
          <div class="placeholder-glow">
            <p class="fw-bold d-none" id="detailsLoanDate"></p>
            <span
              class="placeholder placeholder-sm col-8 rounded mb-3"
              data-placeholder-for="detailsLoanDate"
              style="height: 25px;"></span>
          </div>
        </div>
      </div>

      <!-- Return Date and Quantity Section -->
      <div class="row">
        <div class="col-md-6 mb-3">
          <h6 class="small text-muted">Fecha de devolución</h6>
          <div class="placeholder-glow">
            <p class="fw-bold d-none" id="detailsReturnDate"></p>
            <span
              class="placeholder placeholder-sm col-8 rounded mb-3"
              data-placeholder-for="detailsReturnDate"
              style="height: 25px;"></span>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <h6 class="small text-muted">Cantidad</h6>
          <div class="placeholder-glow">
            <p
              class="badge bg-body-secondary text-body-emphasis border d-none"
              id="detailsQuantity"
            >
            </p>
            <span
              class="placeholder placeholder-sm col-4 rounded mb-3"
              data-placeholder-for="detailsQuantity"
              style="height: 25px;"></span>
          </div>
        </div>
      </div>

      <!-- Status and Observation Section -->
      <div class="row">
        <div class="col-md-6">
          <h6 class="small text-muted">Estado</h6>
          <div class="placeholder-glow">
            <p class="d-none" id="detailsStatus"></p>
            <span
              class="placeholder placeholder-sm col-6 rounded mb-3"
              data-placeholder-for="detailsStatus"
              style="height: 25px;"></span>
          </div>
        </div>
        <div class="col-md-6">
          <h6 class="small text-muted">Observación</h6>
          <div class="placeholder-glow">
            <p class="fw-bold d-none" id="detailsObservation"></p>
            <span
              class="placeholder placeholder-sm col-10 rounded mb-3"
              data-placeholder-for="detailsObservation"
              style="height: 25px;"></span>
          </div>
        </div>
      </div>
    </DetailsOffcanvas>

    <EditModal title="Editar préstamo">
      <!-- Student and Loan Date Section -->
      <div class="row">
        <!-- Book Field -->
        <div class="col-md-6 mb-3">
          <div class="form-label mb-2">Libro</div>
          <div class="form-control bg-body-tertiary" id="editBook"></div>
        </div>

        <!-- Student Field -->
        <div class="col-md-6 mb-3">
          <label for="editStudent" class="form-label"
            >Estudiante <span class="text-danger">*</span></label
          >
          <select
            class="selectpicker form-control"
            id="editStudent"
            name="student"
            data-live-search="true"
            data-live-search-placeholder="Buscar..."
            required></select>
          <div class="invalid-feedback"></div>
        </div>
      </div>

      <!-- Return Date and Quantity Section -->
      <div class="row">
        <!-- Loan Date Field -->
        <div class="col-md-6 mb-3">
          <label for="editLoanDate" class="form-label">Fecha de préstamo</label>
          <input type="date" class="form-control" id="editLoanDate" value="" disabled />
        </div>

        <!-- Return Date Field -->
        <div class="col-md-6 mb-3">
          <label for="editReturnDate" class="form-label"
            >Fecha de devolución <span class="text-danger">*</span></label
          >
          <input
            type="date"
            class="form-control"
            id="editReturnDate"
            name="returnDate"
            value=""
            required
          />
          <div class="invalid-feedback"></div>
        </div>
      </div>

      <!-- Quantity and Observation Section -->
      <div class="row">
        <!-- Quantity Field -->
        <div class="col-md-6 mb-3">
          <label for="editQuantity" class="form-label">Cantidad</label>
          <input type="number" class="form-control" id="editQuantity" disabled />
        </div>

        <!-- Observation Field -->
        <div class="col-md-6 mb-3">
          <label for="editObservation" class="form-label">Observación</label>
          <textarea
            class="form-control"
            id="editObservation"
            name="observation"
            rows="1"
            placeholder="Ingrese cualquier observación opcional"></textarea>
        </div>
      </div>
    </EditModal>

    <!-- Return Modal -->
    <div
      class="modal fade"
      id="returnModal"
      tabindex="-1"
      aria-labelledby="returnModalLabel"
      aria-hidden="true"
      data-bs-backdrop="static"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h5 class="modal-title text-body-emphasis" id="returnModalLabel">
              Confirmación de préstamo
              <span class="badge bg-body-tertiary text-body-emphasis border ms-1" id="returnModalID"
              ></span>
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            ></button>
          </div>

          <!-- Modal Body -->
          <div class="modal-body">
            <p>
              ¿Estás seguro de cambiar el estado a <span
                class="badge text-success-emphasis bg-success-subtle border border-success-subtle"
                ><i class="bi bi-check-circle me-1"></i>Devuelto</span
              >?
            </p>
          </div>

          <!-- Modal Footer -->
          <div class="modal-footer">
            <!-- Cancel Button -->
            <button type="button" class="btn btn-custom-secondary" data-bs-dismiss="modal"
              >Cancelar</button
            >

            <!-- Confirm Button -->
            <button
              type="button"
              class="btn btn-custom-primary d-flex align-items-center"
              id="returnBtn"
            >
              <i class="bi bi-check2-square me-2"></i>
              <span
                class="spinner-border spinner-border-sm me-2 d-none"
                role="status"
                aria-hidden="true"></span>
              Confirmar
            </button>
          </div>
        </div>
      </div>
    </div>
  </Fragment>
</DashboardLayout>
