---
const { title, iconClass, chartId } = Astro.props
---

<article class="col-md-6">
  <div class="card mb-3 border">
    <div class="card-body">
      <h5 class="card-title d-flex align-items-center text-body-emphasis">
        <i class={`bi pe-none me-2 ${iconClass}`}></i>
        {title}
      </h5>
      <div class="chart-container">
        <div class="placeholder-glow d-flex flex-column justify-end h-100 w-100 position-relative p-2">
          <div class="d-flex align-items-end gap-3 h-100 w-100">
            {
              Array.from({ length: 8 }).map((_, i) => {
                const heights = [55, 75, 90, 60, 80, 70]
                const height = heights[i % heights.length]
                return (
                  <div class="placeholder rounded w-100" style={`flex: 1; height: ${height}%;`} />
                )
              })
            }
          </div>

          <div class="d-flex justify-content-between gap-3 mt-3">
            {
              Array.from({ length: 8 }).map(() => (
                <div class="placeholder rounded w-100" style="flex: 1; height: 10px;" />
              ))
            }
          </div>
        </div>

        <canvas id={chartId} class="d-none position-absolute top-0 start-0 w-100 h-100"></canvas>
      </div>
    </div>
  </div>
</article>
