---
import AuthLayout from '@layouts/AuthLayout.astro'

const customScripts = `
  <script type="module" src="/js/modules/auth/reset-password.js" defer></script>
`
---

<AuthLayout
  title="Restablecer contraseña"
  description="Ingresa tu nueva contraseña para continuar."
  customScripts={customScripts}
>
  <form id="resetPasswordForm" novalidate>
    <!-- New Password field -->
    <div class="mb-3">
      <label for="newPassword" class="form-label">Nueva contraseña</label>
      <div class="input-group">
        <input
          id="newPassword"
          type="password"
          class="form-control password-field"
          data-toggle-id="1"
          placeholder="Nueva contraseña"
        />
        <span class="input-group-text cursor-pointer" data-toggle-id="1">
          <i class="bi bi-eye"></i>
        </span>
        <div class="invalid-feedback"></div>
      </div>
    </div>

    <!-- Confirm New Password field -->
    <div class="mb-3">
      <label for="confirmNewPassword" class="form-label">Confirmar contraseña nueva</label>
      <div class="input-group">
        <input
          id="confirmNewPassword"
          type="password"
          class="form-control password-field"
          data-toggle-id="2"
          placeholder="Confirmar contraseña nueva"
        />
        <span class="input-group-text cursor-pointer" data-toggle-id="2">
          <i class="bi bi-eye"></i>
        </span>
        <div class="invalid-feedback"></div>
      </div>
    </div>

    <!-- Create Password Button -->
    <button type="submit" class="btn btn-custom-primary w-100" id="createBtn">
      <span
        id="spinner"
        class="spinner-border spinner-border-sm d-none"
        role="status"
        aria-hidden="true"></span>
      <span id="resetText">Crear contraseña</span>
    </button>

    <!-- Back to login -->
    <a href="/login" class="btn btn-custom-secondary w-100 mt-3 text-decoration-none"> Cancelar </a>
  </form>
</AuthLayout>
