---
import TableSkeleton from '@/components/datatable/TableSkeleton.astro'

const { title = 'Lista', icon = 'bi-table', columnCount = 8 } = Astro.props
---

<!-- Card Container -->
<section id="cardContainer" class="card border">
  <!-- Card Header -->
  <header class="card-header d-flex align-items-center position-relative" id="buttonGroupHeader">
    <h5 class="card-title text-body-emphasis mb-2 mt-2">
      <i class={`bi pe-none me-1 ${icon}`}></i>
      {title}
    </h5>

    <!-- Excel Button -->
    <button
      class="btn btn-custom-secondary excel d-flex align-items-center me-2"
      id="generateExcel"
      aria-label="Generar Excel"
      disabled
    >
      <span class="me-2"><i class="bi bi-file-earmark-excel text-success"></i></span>
      <span
        class="spinner-border spinner-border-sm me-2 text-success d-none"
        role="status"
        aria-hidden="true"></span>
      Excel
    </button>

    <!-- PDF Button -->
    <button
      class="btn btn-custom-secondary d-flex align-items-center me-2"
      id="generatePDF"
      aria-label="Generar PDF"
      disabled
    >
      <span class="me-2"><i class="bi bi-file-earmark-pdf text-danger"></i></span>
      <span
        class="spinner-border spinner-border-sm me-2 text-danger d-none"
        role="status"
        aria-hidden="true"></span>
      PDF
    </button>

    <!-- Add Button -->
    <button
      class="btn btn-custom-primary d-flex align-items-center"
      data-bs-toggle="modal"
      data-bs-target="#addModal"
      aria-label="Agregar"
      disabled
    >
      <i class="bi bi-plus-circle me-2"></i> Agregar
    </button>
  </header>

  <!-- Card Body -->
  <div class="card-body">
    <section id="tableContainer" class="small">
      <TableSkeleton columnCount={columnCount}>
        <slot name="thead" slot="thead" />
      </TableSkeleton>

      <table id="table" class="table d-none nowrap w-100">
        <thead>
          <tr>
            <slot name="thead" />
          </tr>
        </thead>
        <tbody data-body></tbody>
      </table>
    </section>
  </div>
</section>
