---
import DashboardLayout from '@layouts/DashboardLayout.astro'
import DataTableCard from '@components/ui/DataTableCard.astro'
import Modals from '@components/ui/Modals.astro'
---

<DashboardLayout
  title="Usuarios"
  currentPage="/users"
  role="administrador"
  username="Jason"
  customScriptPath="/js/modules/users/users.js"
>
  <DataTableCard title="Lista de usuarios" icon="bi-people" columnCount={8}>
    <Fragment slot="thead">
      <th scope="col" class="text-start">Código</th>
      <th scope="col" class="text-start">Nombre de usuario</th>
      <th scope="col" class="text-start">Correo electrónico</th>
      <th scope="col" class="text-start">Nombres</th>
      <th scope="col" class="text-start">Apellidos</th>
      <th scope="col" class="text-start">Rol</th>
      <th scope="col" class="text-center">Foto de perfil</th>
      <th scope="col" class="text-center"></th>
    </Fragment>
  </DataTableCard>

  <Modals
    slot="modals"
    addTitle="Agregar un usuario"
    detailsTitle="Detalles del usuario"
    editTitle="Editar usuario"
    useMultipart={true}
  >
    <Fragment slot="add-fields">
      <!-- Username and Email Section -->
      <div class="row">
        <!-- Username Field -->
        <div class="col-md-6 mb-3">
          <label for="addUsername" class="form-label"
            >Nombre de usuario <span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="addUsername"
            name="username"
            placeholder="Ingrese su nombre de usuario"
            pattern="[A-Za-zÀ-ÿ0-9_]+"
            oninput="this.value = this.value.replace(/[^A-Za-zÀ-ÿ0-9_]/g, '');"
            required
          />
          <div class="invalid-feedback"></div>
        </div>

        <!-- Email Field -->
        <div class="col-md-6 mb-3">
          <label for="addEmail" class="form-label"
            >Correo electrónico <span class="text-danger">*</span></label
          >
          <input
            type="email"
            class="form-control"
            id="addEmail"
            name="email"
            placeholder="ejemplo@correo.com"
            required
          />
          <div class="invalid-feedback"></div>
        </div>
      </div>

      <!-- First Name and Last Name Section -->
      <div class="row">
        <!-- First Name Field -->
        <div class="col-md-6 mb-3">
          <label for="addFirstName" class="form-label"
            >Nombres <span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="addFirstName"
            name="firstName"
            pattern="[A-Za-zÀ-ÿ\s]+"
            oninput="this.value = this.value.replace(/[^A-Za-zÀ-ÿ\s]/g, '');"
            placeholder="Ingrese sus nombres"
            required
          />
          <div class="invalid-feedback"></div>
        </div>

        <!-- Last Name Field -->
        <div class="col-md-6 mb-3">
          <label for="addLastName" class="form-label"
            >Apellidos <span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="addLastName"
            name="lastName"
            pattern="[A-Za-zÀ-ÿ\s]+"
            oninput="this.value = this.value.replace(/[^A-Za-zÀ-ÿ\s]/g, '');"
            placeholder="Ingrese sus apellidos"
            autocomplete="family-name"
            required
          />
          <div class="invalid-feedback"></div>
        </div>
      </div>

      <!-- Password and Confirm Password Section -->
      <div class="row">
        <!-- Password Field -->
        <div class="col-md-6 mb-3">
          <label for="addPassword" class="form-label"
            >Contraseña <span class="text-danger">*</span></label
          >
          <div class="input-group">
            <input
              type="password"
              class="form-control password-field"
              data-toggle-id="1"
              id="addPassword"
              name="password"
              placeholder="Ingrese una contraseña"
              autocomplete="new-password"
              required
            />
            <span class="input-group-text cursor-pointer" data-toggle-id="1">
              <i class="bi bi-eye"></i>
            </span>
            <div class="invalid-feedback"></div>
          </div>
        </div>

        <!-- Confirm Password Field -->
        <div class="col-md-6 mb-3">
          <label for="addConfirmPassword" class="form-label"
            >Confirmar contraseña <span class="text-danger">*</span></label
          >
          <div class="input-group">
            <input
              type="password"
              class="form-control password-field"
              data-toggle-id="2"
              id="addConfirmPassword"
              placeholder="Confirme su contraseña"
              autocomplete="new-password"
              required
            />
            <span class="input-group-text cursor-pointer" data-toggle-id="2">
              <i class="bi bi-eye"></i>
            </span>
            <div class="invalid-feedback"></div>
          </div>
        </div>
      </div>

      <!-- Role and Profile Photo Section -->
      <div class="row">
        <!-- Role Field -->
        <div class="col-md-6 mb-3">
          <label for="addRole" class="form-label">Rol <span class="text-danger">*</span></label>
          <select
            class="selectpicker form-control placeholder-color"
            id="addRole"
            name="role"
            title="Seleccione un rol"
            required></select>
          <div class="invalid-feedback"></div>
        </div>

        <!-- Profile Photo Field -->
        <div class="col-md-6 mb-3">
          <label for="addProfilePhoto" class="form-label">Foto de perfil</label>
          <input type="file" class="form-control" id="addProfilePhoto" accept="image/*" />
          <div class="invalid-feedback"></div>
        </div>
      </div>

      <!-- Default Photo Section -->
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <div id="defaultAddPhotoContainer" class="text-center" style="max-width: 180px;">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="180"
              height="180"
              fill="currentColor"
              class="bi-person-circle"
              viewBox="0 0 16 16"
            >
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"></path>
              <path
                fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
              ></path>
            </svg>
          </div>
        </div>
      </div>

      <!-- Image Cropper Section -->
      <div id="cropperContainerAdd" class="d-none">
        <img id="imageToCropAdd" src="#" alt="Imagen" />
      </div>

      <!-- Delete Photo Section -->
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <!-- Delete Photo Button -->
          <button
            type="button"
            class="btn btn-sm btn-danger d-flex align-items-center mt-2 d-none"
            id="deleteAddPhotoBtn"
          >
            <i class="bi bi-trash me-2"></i>
            Eliminar foto
          </button>
        </div>
      </div>
    </Fragment>

    <Fragment slot="details-body">
      <!-- ID and Username Section -->
      <div class="row">
        <div class="col-md-6 mb-3">
          <h6 class="small text-muted">Código</h6>
          <div class="placeholder-glow">
            <p class="badge bg-body-tertiary text-body-emphasis border d-none" id="detailsID"></p>
            <span
              class="placeholder placeholder-sm col-6 rounded mb-3"
              data-placeholder-for="detailsID"
              style="height: 25px;"></span>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <h6 class="small text-muted">Nombre de usuario</h6>
          <div class="placeholder-glow">
            <p class="fw-bold d-none" id="detailsUsername"></p>
            <span
              class="placeholder placeholder-sm col-10 rounded mb-3"
              data-placeholder-for="detailsUsername"
              style="height: 25px;"></span>
          </div>
        </div>
      </div>

      <!-- Email and First Name Section -->
      <div class="row">
        <div class="col-md-6 mb-3">
          <h6 class="small text-muted">Correo electrónico</h6>
          <div class="placeholder-glow">
            <p class="fw-bold d-none" id="detailsEmail"></p>
            <span
              class="placeholder placeholder-sm col-12 rounded mb-3"
              data-placeholder-for="detailsEmail"
              style="height: 25px;"></span>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <h6 class="small text-muted">Nombres</h6>
          <div class="placeholder-glow">
            <p class="fw-bold d-none" id="detailsFirstName"></p>
            <span
              class="placeholder placeholder-sm col-10 rounded mb-3"
              data-placeholder-for="detailsFirstName"
              style="height: 25px;"></span>
          </div>
        </div>
      </div>

      <!-- Last Name and Role Section -->
      <div class="row">
        <div class="col-md-6 mb-3">
          <h6 class="small text-muted">Apellidos</h6>
          <div class="placeholder-glow">
            <p class="fw-bold d-none" id="detailsLastName"></p>
            <span
              class="placeholder placeholder-sm col-10 rounded mb-3"
              data-placeholder-for="detailsLastName"
              style="height: 25px;"></span>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <h6 class="small text-muted">Rol</h6>
          <div class="placeholder-glow">
            <p class="badge bg-body-secondary text-body-emphasis border d-none" id="detailsRole">
            </p>
            <span
              class="placeholder placeholder-sm col-5 rounded mb-3"
              data-placeholder-for="detailsRole"
              style="height: 25px;"></span>
          </div>
        </div>
      </div>

      <!-- Profile Photo Section -->
      <div class="row">
        <div class="col-md-6 mb-3">
          <h6 class="small text-muted">Foto de perfil</h6>
          <div id="detailsPhoto" class="d-none">
            <svg
              id="detailsSvg"
              xmlns="http://www.w3.org/2000/svg"
              width="120"
              height="120"
              fill="currentColor"
              class="bi-person-circle d-none"
              viewBox="0 0 16 16"
            >
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"></path>
              <path
                fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
              ></path>
            </svg>
            <img
              id="detailsImg"
              src=""
              class="img-fluid rounded-circle d-none"
              style="width: 120px; height: 120px;"
              alt="Foto del usuario"
            />
          </div>

          <div class="placeholder-glow" style="height: 120px;">
            <div
              class="placeholder rounded-circle"
              style="width: 120px; height: 120px;"
              data-placeholder-for="detailsImg"
            >
            </div>
          </div>
        </div>
      </div>
    </Fragment>

    <Fragment slot="edit-fields">
      <!-- Username and Email Section -->
      <div class="row">
        <!-- Username Field -->
        <div class="col-md-6 mb-3">
          <label for="editUsername" class="form-label">Nombre de usuario</label>
          <input type="text" class="form-control" id="editUsername" disabled />
        </div>

        <!-- Email Field -->
        <div class="col-md-6 mb-3">
          <label for="editEmail" class="form-label">Correo electrónico</label>
          <input type="email" class="form-control" id="editEmail" disabled />
        </div>
      </div>

      <!-- First Name and Last Name Section -->
      <div class="row">
        <!-- First Name Field -->
        <div class="col-md-6 mb-3">
          <label for="editFirstName" class="form-label"
            >Nombres <span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="editFirstName"
            name="firstName"
            pattern="[A-Za-zÀ-ÿ\s]+"
            oninput="this.value = this.value.replace(/[^A-Za-zÀ-ÿ\s]/g, '');"
            placeholder="Ingrese sus nombres"
            required
          />
          <div class="invalid-feedback"></div>
        </div>

        <!-- Last Name Field -->
        <div class="col-md-6 mb-3">
          <label for="editLastName" class="form-label"
            >Apellidos <span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="editLastName"
            name="lastName"
            pattern="[A-Za-zÀ-ÿ\s]+"
            oninput="this.value = this.value.replace(/[^A-Za-zÀ-ÿ\s]/g, '');"
            placeholder="Ingrese sus apellidos"
            autocomplete="family-name"
            required
          />
          <div class="invalid-feedback"></div>
        </div>
      </div>

      <!-- Password and Role Section -->
      <div class="row">
        <!-- Role Field -->
        <div class="col-md-6 mb-3">
          <label for="editRole" class="form-label">Rol <span class="text-danger">*</span></label>
          <select class="selectpicker form-control" id="editRole" name="role" required></select>
        </div>

        <!-- Profile Photo Field -->
        <div class="col-md-6 mb-3">
          <label for="editProfilePhoto" class="form-label">Foto de perfil</label>
          <input type="file" class="form-control" id="editProfilePhoto" accept="image/*" />
          <div class="invalid-feedback"></div>
        </div>
      </div>

      <!-- Current Profile Photo Section -->
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <div id="currentEditPhotoContainer" class="text-center" style="max-width: 180px;">
            <!-- The current photo will be displayed here -->
          </div>
        </div>
      </div>

      <!-- Image Cropper Section -->
      <div id="cropperContainerEdit" class="d-none">
        <img id="imageToCropEdit" src="#" alt="Imagen" />
      </div>

      <!-- Delete Profile Photo Section -->
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <!-- Delete Photo Button -->
          <button
            type="button"
            class="btn btn-sm btn-danger d-flex align-items-center mt-2 d-none"
            id="deleteEditPhotoBtn"
          >
            <i class="bi bi-trash me-2"></i>
            Eliminar foto
          </button>
        </div>
      </div>
    </Fragment>
  </Modals>
</DashboardLayout>

<!-- Delete Modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title text-body-emphasis" id="deleteModalLabel">
          Confirmación de usuario
          <span class="badge bg-body-tertiary text-body-emphasis border ms-1" id="deleteModalID"
          ></span>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <p>¿Estás seguro de que deseas eliminar este usuario?</p>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <!-- Cancel Button -->
        <button
          type="button"
          class="btn btn-custom-secondary d-flex align-items-center"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>

        <!-- Delete Button -->
        <button type="button" class="btn btn-danger d-flex align-items-center" id="deleteBtn">
          <i class="bi bi-trash me-2"></i>
          <span
            class="spinner-border spinner-border-sm me-2 d-none"
            role="status"
            aria-hidden="true"></span>
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
