---
const { title = 'Lista', icon = 'bi-table', columnCount = 8 } = Astro.props
---

<!-- Card Container -->
<section id="cardContainer" class="card border">
  <!-- Card Header -->
  <header class="card-header d-flex align-items-center position-relative" id="buttonGroupHeader">
    <h5 class="card-title text-body-emphasis mb-2 mt-2">
      <i class={`bi pe-none me-1 ${icon}`}></i>
      {title}
    </h5>

    <!-- Excel Button -->
    <button
      class="btn btn-custom-secondary excel d-flex align-items-center me-2"
      id="generateExcel"
      aria-label="Generar Excel"
      disabled
    >
      <span class="me-2"><i class="bi bi-file-earmark-excel text-success"></i></span>
      <span
        class="spinner-border spinner-border-sm me-2 text-success d-none"
        role="status"
        aria-hidden="true"></span>
      Excel
    </button>

    <!-- PDF Button -->
    <button
      class="btn btn-custom-secondary d-flex align-items-center me-2"
      id="generatePDF"
      aria-label="Generar PDF"
      disabled
    >
      <span class="me-2"><i class="bi bi-file-earmark-pdf text-danger"></i></span>
      <span
        class="spinner-border spinner-border-sm me-2 text-danger d-none"
        role="status"
        aria-hidden="true"></span>
      PDF
    </button>

    <!-- Add Button -->
    <button
      class="btn btn-custom-primary d-flex align-items-center"
      data-bs-toggle="modal"
      data-bs-target="#addModal"
      aria-label="Agregar"
      disabled
    >
      <i class="bi bi-plus-circle me-2"></i> Agregar
    </button>
  </header>

  <!-- Card Body -->
  <div class="card-body">
    <section id="tableContainer" class="small">
      <!-- Tabla Skeleton -->
      <div id="skeletonTable">
        <div class="row align-items-center mb-3 mt-2">
          <!-- Placeholder on the left corner -->
          <div class="col-12 col-md-4 text-center text-md-start mb-2 mb-md-0 mt-2 mt-md-0">
            <div class="placeholder-glow">
              <span class="placeholder col-4 rounded" style="height: 30px;"></span>
            </div>
          </div>

          <!-- Spacer in the middle -->
          <div class="col d-none d-md-block"></div>

          <!-- Placeholder on the right corner -->
          <div class="col-12 col-md-4 text-end mb-2 mb-md-0">
            <div class="placeholder-glow">
              <span class="placeholder col-12 col-md-6 rounded" style="height: 30px;"></span>
            </div>
          </div>
        </div>

        <!-- Loading Table -->
        <div class="table-responsive">
          <table class="table table-sm nowrap w-100 mb-2">
            <thead>
              <tr>
                <slot name="thead" />
              </tr>
            </thead>
            <tbody>
              {
                Array.from({ length: 15 }).map(() => (
                  <tr class="placeholder-glow">
                    {Array.from({ length: columnCount }).map(() => (
                      <td>
                        <span class="placeholder col-11 rounded my-1" style="height: 22px;" />
                      </td>
                    ))}
                  </tr>
                ))
              }
            </tbody>
          </table>
        </div>

        <div class="row align-items-center mb-0">
          <!-- Placeholder on the left corner -->
          <div class="col-12 col-md-6 text-center text-md-start mb-2 mb-md-0 mt-2 mt-md-0">
            <div class="placeholder-glow">
              <span class="placeholder col-8 col-md-4 rounded" style="height: 40px;"></span>
            </div>
          </div>

          <!-- Spacer in the middle -->
          <div class="col d-none d-md-block"></div>

          <!-- Placeholder on the right corner -->
          <div class="col-12 col-md-3 text-center text-md-end">
            <div class="placeholder-glow">
              <span class="placeholder col-6 col-md-6 rounded" style="height: 40px;"></span>
            </div>
          </div>
        </div>
      </div>

      <!-- Actual Table -->
      <table id="table" class="table d-none nowrap w-100">
        <thead>
          <tr>
            <slot name="thead" />
          </tr>
        </thead>
        <tbody data-body></tbody>
      </table>
    </section>
  </div>
</section>
